@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$sidebar-bg-color: rgba(0, 0, 0, 1);
$submenu-bg-color: rgba(255, 255, 255, .2);
$submenu-bg-color-collapsed: rgba(0, 0, 0, 1);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import "~react-pro-sidebar/dist/scss/styles.scss";
// body {
//   margin: 0;
//   height: 100vh;
//   color: #353535;
//   font-family: 'Roboto', sans-serif;
// }

// #root {
//   height: 100%;
// }

.mainOverrides {
  width: 100%;
  padding-left: 15px;
  margin-top: -16px;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.pro-sidebar {
  height: auto;
  margin-top: -16px ;
  margin-left: -15px ;
  width: 185px;
  min-width: 185px;
  // border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.block {
  padding: 6px;
}

.pro-menu-item {
  margin-bottom: 20px;
}

// .react-switch-bg {
//   background-color:rgba(255, 255, 255, .2) !important;
// }

.app {
  // height: 100%;
  display: flex;
  position: relative;

  //   .btn-toggle {
  //     cursor: pointer;
  //     width: 35px;
  //     height: 35px;
  //     background: #353535;
  //     color: #fff;
  //     text-align: center;
  //     border-radius: 50%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     font-size: 15px;
  //     display: none;
  //   }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  // main {
    // width: 100%;
    // padding: 24px;
    // flex-grow: 1;
    // display: flex;
    // flex-direction: column;
    // overflow-y: auto;
    // header {
    //   margin-bottom: 40px;
    //   border-bottom: 1px solid #efefef;
    //   h1 {
    //     display: flex;
    //     align-items: center;
    //     transform: translateX(-20px);
    //   }
    // }

    // footer {
    //   margin-top: auto;
    //   color: #888;
    //   text-align: center;
    //   a {
    //     text-decoration: none;
    //     color: #888;
    //     &:hover {
    //       text-decoration: underline;
    //     }
    //   }
    // }
  // }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }
  }
}
