.header {
  height: 170px;
  a {
    display: grid;
    place-items: center;
    padding-left: 15px;
  }
}

.logo {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 40%;
  min-width: 140px;
  max-width: 440px;
  z-index: 100;
}
